 
// 颜色

$accentColor =#AAA
$textColor = #FFE
$borderColor = #EAECEF
$codeBgColor = #282C34
$arrowBgColor = #EEE
$badgeTipColor = #42B983
$badgeWarningColor = darken(#FFE564, 35%)
$badgeErrorColor = #DA5961

.custom-block 
 &.tip
  border-color $accentColor
    